<div class="page-sidebar-wrapper" >
	<div class="page-sidebar navbar-collapse collapse" >
		<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="height: 460px">
			<li class="heading">
				<br><h3 class="uppercase"> :: Recursos</h3>
			</li>
			<li>
				<a href="#home">
					<i class="icon-home"></i>
					<span class="title">Página Inicial</span>
				</a>
			</li>
			<li>
				<a href="#secretaria-list">
					<i class="fa fa-clipboard" aria-hidden="true"></i>
					<span class="title">Secretaria</span>
				</a>
			</li>
			<li>
				<a href="#servico-list">
					<i class="fa fa-file-text-o" aria-hidden="true"></i>
					<span class="title">Serviço</span>
				</a>
			</li>
			<li>
				<a href="#requerente-list">
					<i class="fa fa-user-plus" aria-hidden="true"></i>
					<span class="title">Requerente</span>
				</a>
			</li>
			<li>
				<a href="#processo-list">
					<i class="fa fa-calendar" aria-hidden="true"></i>
					<span class="title">Processo</span>
				</a>
			</li>
			<li>
				<a href="#requerimento-list">
					<i class="fa fa-calendar" aria-hidden="true"></i>
					<span class="title">Requerimento</span>
				</a>
			</li>
			
			<li class="heading">
				<br><h3 class="uppercase"> :: Sistema</h3>
			</li>
			<li>
				<a href="#usuario-list">
					<i class="fa fa-users"></i>
					<span class="title">Usuários</span>
				</a>
			</li>
			
		</ul>
		</br></br></br></br></br></br></br>
	</div>
</div>