<div class="row">
	<ol id="breadcrumb">		
		<li> <a href="#home"> <i class="fa fa-home"></i> Página Inicial </a> </li>
		<li> <a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i></a> </li>
		<li> <a href="#requerimento-list"> Requerimento</a> </li>
	</ol>
</div>

<div id="rowForNav" ng-include="'app/shared/template/app-side-bar.html'"></div>
 
 <div class="page-content-wrapper" class="no-print">
		<div class="page-content">
			
			<div class="row ">
				<div class="col-md-12 col-sm-12">
				<div class="col-sm-12">
					<div class="tab-content">
						
						<div class="tab-pane active" id="tab-sobre">
							<div class="panel panel-default">
							    <div class="panel-heading">
							    	
									<div class="panel-ctrls pull-right">
										<div class="DTTT btn-group  mt-sm">
											<a href="#requerimento-new" class="btn btn-info DTTT_button_text">
											<i class="ti ti-plus"></i> <span>Novo Requerimento</span></a>
										</div>
									</div>
									<h2>Listagem de Requerimento</h2>
							    </div>
								<div class="panel-body no-padding">
									<table class="table table-striped table-bordered datatables no-footer dataTable">
										<thead>
											<tr>
												<th>Numero Protocolo</th>
												<th>Data do Requerimento</th>
												<th>Nome do Proprietario</th>
												<th>#</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="requerimento in dataOfGenericList | 
												   startFrom:currentPageOfGenericList*pageSizeOfGenericList | 
												   limitTo:pageSizeOfGenericList">
												   
												<td>{{requerimento.numeroProtocolo}}</td>
												<td>{{requerimento.dataRequerimento}}</td>
												<td>{{requerimento.nomeProprientario}}</td>
												<td>
													<a href="#requerimento-update/{{requerimento.id}}" ng-hide="requerimento.numeroProtocolo == 'Carregando...' || requerimento.numeroProtocolo == 'Nenhum requerimento para listar :.'">
														<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
													</a>&nbsp;
													<a ng-click="requerimentoListController.inativaRequerimento(requerimento.id)" ng-checked="{{requerimento.status}}">
														<i class="fa fa-trash" aria-hidden="true"></i>
													</a>
													 
												</td>
											 </tr>
										</tbody>
									</table>
								</div>
								<div class="panel-footer">
									<div class="row">
										<div class="col-sm-6 col-md-offset-6">
											<div class="dataTables_paginate paging_bootstrap" id="example_paginate">
												<ul class="pagination pull-right m-n">
													<li ng-hide="currentPageOfGenericList == 0" ng-click="currentPageOfGenericList=currentPageOfGenericList-1" class="previous">
														<a> Página Anterior </a>
													</li>
													<li ng-hide="currentPageOfGenericList >= dataOfGenericList.length/pageSizeOfGenericList - 1" ng-click="currentPageOfGenericList=currentPageOfGenericList+1" class="previous">
														<a> Próxima Página </a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div><!--  .tab-content  -->
				</div>

		
		

				</div>	
			</div>
		</div>
</div>


