<div class="row">
	<ol id="breadcrumb">		
		<li> <a href="#home"> <i class="fa fa-home"></i> Página Inicial </a> </li>
		<li> <a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
		<li> <a href="#requerente-list"> Requerente</a> </li>
		<li> <a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
		<li> <a href="#requerente-update"> Atualizar Requerente</a> </li>
	</ol>
</div>

<div id="rowForNav" ng-include="'app/shared/template/app-side-bar.html'"></div>

<div class="page-content-wrapper" class="no-print">
		<div class="page-content">
			<div class="row ">
				<div class="col-md-12 col-sm-12">
					
					<form method="POST" ng-submit="requerenteUpdateController.atualizarCadastro()" >
					
						<div class="form-group">							
								<label>Nome</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.nome" id="nome">							
						</div>
						<div class="form-group">
						<div class="row">
							<div class="col-xs-4 col-md-4">
								<label for="matricula" class="col-form-label" >Matricula</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.matricula" id="matricula">
							</div>
							<div class="col-xs-4 col-md-4">
								<label for="contato" class="col-form-label" >Contato</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.contato" id="contato">
					
							</div>
							<div class="col-xs-4 col-md-4">
								
								<label>Tipo de Pessoa</label>
								<select class="form-control" ng-model="requerenteUpdateController.requerente.tipo">
									<option value = "">Selecione</option>
									<option value = "pf" ng-selected="requerenteUpdateController.selecionadocpf">Pessoa Fisica</option>
									<option value = "pj" ng-selected="requerenteUpdateController.selecionadocnpj">Pessoa Juridica</option>
								</select>
							</div>
						</div>						
						</div>
						<div class="form-group">
						<div class="row">
							<div class="col-xs-4 col-md-4" ng-show="requerenteUpdateController.requerente.tipo =='pf' || requerenteUpdateController.selecionadocpf">
								<label for="cpf" class="col-form-label" >CPF</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.cpf" id="cpf">
							</div>
							<div class="col-xs-4 col-md-4"  ng-show="requerenteUpdateController.requerente.tipo =='pj' || requerenteUpdateController.selecionadocnpj">
								<label for="cnpj" class="col-form-label" >CNPJ</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.cnpj" id="cnpj">
								</div>
							<div class="col-xs-4 col-md-4">
							<label>Secretaria</label>
							<select class="form-control" ng-model="requerenteUpdateController.requerente.secretaria" ng-options =" secretaria as secretaria.nome for secretaria in requerenteUpdateController.secretarias track by secretaria.id">
							<option value = "">Selecione</option>
							</select>
							</div>
						</div>
						</div>
						<div class="form-group">
						<div class="row">
							<div class="col-xs-8 col-md-8">
								<label for="rua" class="col-form-label" >Rua :</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.endereco.rua" id="rua">
							</div>
							<div class="col-xs-4 col-md-4">
								<label for="numero" class="col-form-label" >Numero :</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.endereco.numero" id="numero">
							</div>
						</div>
						</div>
						<div class="form-group">
						<div class="row">
							<div class="col-xs-6 col-md-6">
								<label for="complemento" class="col-form-label" >Complemento</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.endereco.complemento" id="complemento">
							</div>
							<div class="col-xs-6 col-md-6">
								<label for="bairro" class="col-form-label" >Bairro :</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.endereco.bairro" id="bairro">
							</div>							
						</div>
						</div>
						
						<div class="form-group">
						<div class="row">
							<div class="col-xs-4 col-md-4">
								<label for="cep" class="col-form-label" >Cep :</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.endereco.cep" id="cep">
							</div>
							<div class="col-xs-4 col-md-4">
								<label for="quadra" class="col-form-label" >Quadra :</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.endereco.quadra" id="quadra">
							</div>
							<div class="col-xs-4 col-md-4">
								<label for="lotes" class="col-form-label" >Lotes</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.endereco.lotes" id="lotes">
						
							</div>
						</div>
						</div>
						<div class="form-group">
						<div class="row">
							<div class="col-xs-4 col-md-4">
							<label for="loteamento" class="col-form-label" >Loteamento</label>							
							<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.endereco.loteamento" id="loteamento">
							</div>
							<div class="col-xs-8 col-md-8">
								<label for="email" class="col-form-label" >Email</label>							
								<input class="form-control" type="text" ng-model="requerenteUpdateController.requerente.email" id="email">
							</div>
						</div>
						</div>
					
						<div class="row">
						<div class="col-md-9 col-md-offset-9">
							<input class="btn btn-success" type="submit" value="Confirmar" />
							<a href="#requerente-list" class="btn btn-default">Cancela</a>
						</div>
						</div>
					</form>	
						</div>
					</div>
				</div>
			</div>
			

